html, body {
    background-color: #ffffff;
    color: #000000;
    font-size: 14px;
    line-height: 1.4em;
}

.notification {
    background-color: #00a9f4;
    color: #ffffff;
}

.navigation-bar {
    margin: 0;
    padding: 0;
    background-color: #fafafb;
    color: #00a9f4;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #e4d2d2;
}

.index-body {
    border-bottom: none;
    border-right: none;
    margin: 5% auto 2% auto;
    padding: 1% 0% 0% 0%;
}

a, h1, h2, h3, h4, h5, h6 {
    color: #178ce3;
}

.article {
    margin: 1% auto;
    padding: 0.5%;
    border-bottom: 2px solid #f0eeee;
    width: 80%;
}

.article p {
    margin: 0 auto;
    padding: 5px;
}

.article span {
    margin: 1% auto;
    font-size: 0.9em;
    color: #ae94a2;
    /* font-style: oblique; */
}

hr {
    border-color: #ccc;
    border-style: solid;
    border-width: 1px 0 0 0;
}

textarea {
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    margin-top: 10px;
}

textarea#post_content {
    min-height: 250px;
}

textarea.comment_box {
    min-height: 150px;
}

/* 
ul {
    margin: 0;
    padding: 0;
}

.comments {
    margin: 2% auto;
    padding: 2%;
    border: 1% solid #77716d;
    width: 70%;
}

ul.comments-list-item {
    background-color: #191522;
}

li.comments-list-item {
    border-radius: 2%;
    color: #f7f7f7;
    list-style-type: none;
    list-style-position: inside;
    padding: 4%;
    margin: 2% auto;
    border: 1% solid #ffffff;
} */

/* h1, h2, h3, h4, h5, h6, a, button {
    color: #2a87af;
}

p {
    color: #ffffff;
}

a:hover, button:hover {
    color: #d9070b;
    background-color: #565656;
}

.box {
    background-color: #11272d;
}

textarea#editor p {
    color: #0c141a;
}

div.article {
    margin: 2% auto;
    padding: 2%;
    border: 3% solid #77716d;
    width: 80%;
}

div.article span {
    margin: 1% auto;
    font-size: 0.8em;
    color: #b4c6cc;
    font-style: oblique;
}

div.article p {
    margin: 1% auto;
    padding: 1%;
}

.index-body {
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 1%;
} */

/* comments */

/* .comments {
    margin: 2% auto;
    padding: 2%;
    border: 1% solid #77716d;
    width: 70%;
}

ul.comments-list-item {
    background-color: #191522;
    margin: 1% auto;
    padding: 0;
    width: 70%;
}

li.comments-list-item {
    border-radius: 2%;
    color: #f7f7f7;
    list-style-type: none;
    list-style-position: inside;
    padding: 4%;
    margin: 2% auto;
    border: 1% solid #ffffff;
}
*/